/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ott-2019, 11.36.09
    Author     : vince
*/


a {
    color: #222;
}

input {
    border-radius: 5px;
    padding: 0.3em;
}

.btn {
    background-color: #5e86c1;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn--small {
    font-size: 12px;
    padding: 6px 15px;
}

.btn:hover {
    background-color: white;
    color: black;
    color: #222;
}

.btn--danger:hover {
    color: red;
}

.btn--danger {
    background-color: red;
    border: 2px solid red;
}

.text-center {
    text-align: center;
}

/* LOGIN PAGE */

.auth-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-field {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0.3em 0;
    margin: 0.5em 0;
}





/* HOMEPAGE */
.title {
    text-align: center;
}

.title1 {
    text-align: center;
    color: #5e86c1;
}

.list {
    padding: 0.2em;
    list-style-type: none;
    max-width: 750px;
    margin: 0 auto;
}

.list .item {
    min-height: 5em;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    position: relative;
    display: flex;
    padding: 0.3em;
    margin-bottom: 0.7em;
    text-decoration: none;
    background-color: white;
}

.item a {display: block;}

.list .icon {
    align-self: center;
    margin-right: 1em;
}

.icon--left {
    float:left;
} 

.icon--right {
    float: right;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text .head {
    color: black;
    color: #222;
    margin-top: 0;
    margin-bottom: 0.3em;
    width: 100%;
}

.text .info {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .text .info {
        display: none;
    }
}


/* COMPILE SURVEY PAGE */
#compile-survey {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
    flex: 1;
}

#compile-survey .opening, #compile-survey .closing {
    text-align: center;
    align-items: center;
}

#compile-survey #larrow {
    grid-column-start: 1;
    text-align: center;
}

#compile-survey #rarrow {
    grid-column-start: 3;
    text-align: center;
}

#compile-survey #larrow:hover, #compile-survey #rarrow:hover {
    cursor: pointer;
}

#compile-survey #survey {
    grid-column-start: 2;
    width: 100%;
    margin: 0 auto;
}

#compile-survey .question-card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: white;
    min-height: 180px;
    margin: 2em;
}

#compile-survey .question-card input[type="text"], #compile-survey .question-card textarea {
    width: 90%;
    resize: none;
}

#compile-survey .btn {
    max-width: 400px;
}

@media screen and (max-width: 600px) {
    #compile-survey {
        text-align: center;
        min-height: calc(100vh - 300px);
        grid-template-rows: 90% 10%;
        grid-template-columns: 50% 50%;
    }

    #compile-survey #survey {
        grid-row-start: 1;
        grid-column-end: 3;
        grid-column-start: 1;
        width: 100%;
    }

    #compile-survey #larrow {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    #compile-survey #rarrow {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #compile-survey .question-card {
        padding: 0.5em;
    }
}

.error-message {
    display: none;
    position: absolute;
    color: white;
    background-color: #444;
    border: 1px solid black;
    padding: 1em;
    font-size: 0.8em;
}


/* ACCOUNT PAGE */

.top-cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.card-utenti {
    margin: 1em;
    flex: 0.3 0 370px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.account-content {
    margin: 0 auto;
    width: 100%;
}

.account-container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .avatar {
        width: 100px;
        height: 100px;
    }

    .account-container {
        flex-direction: column;
        align-items: center;
    }
}

.info-utente {
    margin: 1em;
    flex: 0.3 0 370px;
    max-width: 650px;
    padding: 1em 2em;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
}

@media screen and (max-width: 950px) {
    .top-cards {
        flex-wrap: wrap;
    }

    .info-utente, .card-utenti {
        flex-shrink: 1;
    }
}

.info-utente h3 {
    text-align: center;
}

.info-utente ul{
    padding: 0;
}

.info-utente li {
    list-style-type: none;
    padding: 0.5em
}


.info-utente form {
    text-align: center;
    margin-bottom: 1em;

}

.my-surveys {
    margin: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    padding: 1.5em;
}

.my-surveys h3 {
    text-align: center;
}

.my-surveys table {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1em;
}

.my-surveys table a:hover {
    color: black;
    text-decoration: underline;
}

.my-surveys .status {
    text-align: center;
}

.my-surveys .tipo {
    text-align: center;
}

.my-surveys tr {
    border-bottom: 1px solid black;
}

.my-surveys td {
    padding: 0.5em 0;
}

.my-surveys .btn {
    max-width: 10em;
    display: block;
    margin: 0 auto;
}

td .trash-icon {
    text-align: center;
}

/*CREATE SURVEY*/

.create-survey {
    display: block;
    text-align: center;
    font-size: 20px;

}

.create-survey input {
    border-radius: 5px;
    box-shadow: 1px 1px 5px;

}

.create-survey textarea {
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    align-self: stretch;
}

.create-survey h4 {
    margin-bottom: 1em;
}

/*SURVEY DETAILS*/
.survey-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.survey-info {
    flex: 1 1 500px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    margin: 1em;
}

.survey-questions {
    flex: 0.5 1 500px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.survey-participants {
    display: flex;
    flex: 1 1 500px;
    margin-top: 2em ;
    margin-left: 0.2em;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.participants {
    padding: 1em;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex: 1 1 500px;
}

@media screen and (max-width: 600px) {
    #survey-image {
        font-size: 50px;
    }
    .survey-image {
        flex-direction: column;
        text-align: center;
    }
}

.participant { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}


/*MANAGE-USERS*/

.manage-users {
    
}

.users-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.users-list thead td {
    font-weight: bold;
}

.users-list tr {
    border-bottom: 1px solid black;
}

.users-list td {
    padding: 0.5em 0;
}

.add-user-form {
    max-width: 600px;
    margin: 0 auto;
}

.add-user {
    flex: 1 0 0;
    max-width: 600px;
    padding: 1em;
    margin: 5em auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #fff;
}

.add-user-title {
    text-align: center;
}

.add-user-form .input-field label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center
{
    text-align: center;
    margin: 0 auto;

}

.container input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


.container input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.container input[type=date]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.container input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.container input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    width:50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: auto;
    padding-left: 18%;
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75{
        width: 60%;
        margin-top: 0;
    }
}

/*SURVEY-DETAILS*/

.arrow-btn{
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 10px;
    background-color: #d3d3d3;
    border: 2px solid grey;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.arrow-btn:hover {
    background-color: white;
    color: black;
    color: #222;
}


.delete-btn{
    font-size: 12px;
    padding: 6px 15px;
    background-color: #a0a0a0;
    border-radius: 10px;
}

.delete-btn:hover {
    background-color: black;
    color: white;
}



.small-btn{
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 10px;
    background-color: #5e86c1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.small-btn:hover {
    background-color: white;
    color: #222;
}

/*SURVEY-RESULTS*/
.question-text{
    text-align: center;
    border-radius: 10px;
    flex: 1;
}

.opening {
    text-align: center;
}
.question-answer{
    text-align: center;
    font-weight: bold;
}

.card-header {
    background-color:#9ebee2;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
}

.card-body {
    padding: 10px 10px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 800px;
    min-width: 70%;
    margin: 15px auto;
}

@media screen and (max-width: 600px) {
    .card {
        min-width: 90%;
    }
}

span{
    margin-left: 10px;
}

/* AUTHENTICATION */
.authentication{
    text-align: center;
}

/* ERROR PAGE */

#error-page {
    display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1
}

#error-page h1 {
    padding: 0 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #error-page {
        margin-bottom: 86px;
    }
}