/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ott-2019, 11.36.09
    Author     : vince
*/

:root {
    --primary-color: #222;
    --primary-color-contrast: #DDD;
    --danger-color: red;
    --warning-color: yellow;
}

a {
  color: blue;;
  color: var(--primary-color);
  text-decoration: none;
}

input {
  border-radius: 5px;
}

.btn {
  background-color: #5e86c1;
  border: 2px solid;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn--small {
  font-size: 12px;
  padding: 6px 15px;
}

.btn:hover {
    background-color: white;
    color: var(--primary-color);
}

.btn--danger:hover {
  color: var(--danger-color);
}

.btn--danger {
  background-color: var(--danger-color);
  border: 2px solid var(--danger-color);
}


/* LOGIN PAGE */

.auth-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-field {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.3em 0;
  margin: 0.5em 0;
}





/* HOMEPAGE */
.title {
  text-align: center;
}


.list {
  padding: 0.2em;
  list-style-type: none;
  max-width: 750px;
  margin: 0 auto;
}

.list .item {
  position: relative;
  display: flex;
  padding: 0.3em;
  border-bottom: 1px solid black;
  margin-bottom: 0.7em;
}

.item a {display: block;}

.list .icon {
  align-self: center;
  margin-right: 1em;
}

.icon--left {
  float:left;
} 

.icon--right {
  float: right;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text .head {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 0.3em;
}

.text .info {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .text .info {
    display: none;
  }

  .icon--right {
    display: none;
  }
}


/* COMPILE SURVEY PAGE */

.opening, .closing {
  text-align: center;
}

#larrow, #rarrow {
  display: none;
  position: fixed;
  top: 51%;
}

#larrow:hover, #rarrow:hover {
  cursor: pointer;
}

#larrow {
  left: 0.8em;
}

#rarrow {
  right: 0.8em;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 6px 6px 10px;
  padding: 1.5em;
  margin: 3em auto;
  max-width: 800px;
}

.card input[type="text"], .card textarea {
  width: 100%;
  resize: none;
}


/* ACCOUNT PAGE */

.account-content {
  max-width: 700px;
  margin: 0 auto;
}

.info-utente {
  margin-bottom: 3em;
  border-bottom: 3px solid gray;
}

.info-utente h3 {
  text-align: center;
}

.info-utente ul{
  padding: 0;
}

.info-utente li {
  list-style-type: none;
  padding: 0.5em;
  text-align: center;
}


.info-utente form {
  text-align: center;
  margin-bottom: 1em;

}

.my-surveys table {
  margin: 0 auto;
  width: 100%;
}

.my-surveys table a:hover {
  color: black;
  text-decoration: underline;
}

.my-surveys .status {
  text-align: center;
}

.my-surveys .tipo {
  text-align: center;
}

.my-surveys tr {
  border-bottom: 1px solid black;
}

.my-surveys td {
  padding: 0.5em 0;
}

.my-surveys .btn {
  max-width: 10em;
  display: block;
  margin: 2em auto;
}

td .trash-icon {
  text-align: center;
}

/*CREATE SURVEY*/
 
 .create-survey {
     display: block;
     text-align: center;
     font-size: 20px;
     
 }
 
.create-survey input {
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
 
}

.create-survey textarea {
   border-radius: 5px;
   box-shadow: 1px 1px 5px;
   align-self: stretch;
}

.create-survey h4 {
  margin-bottom: 1em;
}

/*SURVEY DETAILS*/
 .survey-details {
     text-align: center;
     font-size: 25px;
 }
 
 .questions {
    
     font-size: 20px;
     text-justify: auto;
 }
 
 .questions h4 {
  margin-bottom: 1em;
}

.questions fieldset {
    width:50%;
}


.left  {
    float : left;  
    text-align: center;
    font-size: 25px;
    width: 40%;
}

.clear {clear:both; 
       line-height:0.01px; 
       font-size:0.01px;}

.right {
    padding-right: 100px;
    float: right;
    text-align: center;
    font-size: 25px;
    width: 40%;
}

.details {
   
    widht: 100%;
}

.details input {
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
 
}

/*MANAGE-USERS*/

.center
{
    text-align: center;
    margin: 0 auto;
    
}

.container input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


.container input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.container input[type=date]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.container input[type=number]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.container input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  width:50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: auto;
  padding-left: 18%;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75{
    width: 60%;
    margin-top: 0;
 }
}

/*SURVEY-DETAILS*/
 
 .arrow-btn{
  font-size: 12px;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: 2px solid grey;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
 }

 .arrow-btn:hover {
   background-color: white;
    color: var(--primary-color);
 }
 
 .delete-btn{
  font-size: 12px;
  padding: 6px 15px;
  background-color: #a0a0a0;
  border-radius: 10px;
 }
 
 .delete-btn:hover {
    background-color: black;
    color: white;
 }
 
 .total{
     width: 100%;
     
 }

 .border{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    width: 30%;
    text-align: center;

}
.lines1{
    border-width: 3px;
    width: 50%;
     
}

.lines2{
    border: 0.5px solid black;
    width: 60%;
}

.question{
    width: 40%;
   margin: auto;
    
}

.queston-center {
    text-align: center;
}
h3 {
    text-align: center;
}

.small-btn{
  font-size: 12px;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: #5e86c1;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
 }

 .small-btn:hover {
   background-color: white;
    color: var(--primary-color);
 }
