/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ott-2019, 11.36.09
    Author     : vince
*/

:root {
    --primary-color: #222;
}

.btn {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: var(--primary-color);
}
