<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authentication</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authorization</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.AuthorizationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorization</servlet-name>
        <url-pattern>/authorization</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>survey</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.SurveyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>survey</servlet-name>
        <url-pattern>/survey</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/pollweb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <listener>
        <listener-class>it.univaq.f4i.iw.pollweb.data.hibernate.HibernateUtil</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Andrea&amp;Laura&amp;Vincenzo</param-value>
    </context-param>
</web-app>
