<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- PAGES -->
    <servlet>
        <servlet-name>home-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home-page</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet>
        <servlet-name>account-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.AccountPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>account-page</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>about-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.AboutPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>about-page</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.LoginPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login-page</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>compile-survey-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.CompileSurveyPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compile-survey-page</servlet-name>
        <url-pattern>/compile-survey</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>survey-details-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.SurveyDetailsPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>survey-details-page</servlet-name>
        <url-pattern>/account/survey-details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create-survey-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.CreateSurveyPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create-survey-page</servlet-name>
        <url-pattern>/account/create-survey</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create-question-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.CreateQuestionPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create-question-page</servlet-name>
        <url-pattern>/account/create-question</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manage-users-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.ManageUsersPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-users-page</servlet-name>
        <url-pattern>/account/manage-users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>survey-results-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.SurveyResultPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>survey-results-page</servlet-name>
        <url-pattern>/account/survey-results</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authentication-page</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.controller.page.AuthenticationPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication-page</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <!-- CONTROLLERS -->
    <servlet>
        <servlet-name>surveys-controller</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.SurveysController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>surveys-controller</servlet-name>
        <url-pattern>/surveys</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>questions-controller</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.QuestionsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>questions-controller</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authentication-controller</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentication-controller</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>participants-controller</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.ParticipantsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>participants-controller</servlet-name>
        <url-pattern>/participants</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users-controller</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users-controller</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>compile-survey-controller</servlet-name>
        <servlet-class>it.univaq.f4i.iw.pollweb.business.controller.CompileSurveyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compile-survey-controller</servlet-name>
        <url-pattern>/compile-survey-controller</url-pattern>
    </servlet-mapping>
    <!-- FILTERS -->
    <filter>
        <filter-name>authentication-filter</filter-name>
        <filter-class>it.univaq.f4i.iw.pollweb.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>account-page</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>survey-details-page</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>create-survey-page</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>create-question-page</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>manage-users-page</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>surveys-controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>questions-controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>participants-controller</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication-filter</filter-name>
        <servlet-name>users-controller</servlet-name>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/pollweb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!-- LISTENERS -->
    <listener>
        <listener-class>it.univaq.f4i.iw.pollweb.data.hibernate.HibernateUtil</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- PARAMS -->
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftlh</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftlh</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Vincenzo, Laura, Denis</param-value>
    </context-param>
</web-app>
