<h2>${survey.title}</h2>
<p>${survey.openingText}</p>
<form action="/pollweb/survey?id=#{survey.id}" method="post">
    <#list survey.questions as question>
    <h4>#{question?counter}. ${question.text}</h4>
        <#if question.getQuestionType() == "short text">
            <#include "/questions/short-text-question.ftl.html">
        <#elseif question.getQuestionType() == "long text">
            <#include "/questions/long-text-question.ftl.html">
        <#elseif question.getQuestionType() == "number">
            <#include "/questions/number-question.ftl.html">
        <#elseif question.getQuestionType() == "date">
            <#include "/questions/date-question.ftl.html">
        <#elseif question.getQuestionType() == "single choice">
            <#include "/questions/single-choice-question.ftl.html">
        <#elseif question.getQuestionType() == "multiple choice">
            <#include "/questions/multiple-choice-question.ftl.html">
        </#if>
    </#list>  
    <input type="submit" name="submit" class="medium"/>
</form>
<p>${survey.closingText}</p>

